# Aula 09 - Exercício: Limpeza e Tratamento de Dados
**Curso:** Programação para Ciência de Dados  
**Aluno:** Gisele Fonseca
**Data:** 04 de novembro

## Instruções
1. Complete todos os exercícios marcados com `# === SEU CÓDIGO AQUI ===`
2. Execute as células de teste para verificar suas respostas
3. **Tempo estimado total:** 35 minutos

## Critérios de Avaliação
- **Conteúdo (100%):** Testes automáticos

## Objetivo
Consolidar conhecimentos de limpeza de dados através de exercícios práticos com um dataset real de e-commerce.

In [1]:
# === CONFIGURAÇÃO INICIAL ===

!pip install --upgrade pip --quiet
!pip cache purge
!pip install otter-grader --no-cache-dir -q
!mkdir -p tests

print("Ambiente configurado!")

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 22.4 MB/s eta 0:00:00
Files removed: 6 (1.8 MB)
Ambiente configurado!

In [2]:
%%writefile tests/q1.py
OK_FORMAT = True

test = {
    "name": "q1",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Retorna DataFrame
>>> import pandas as pd
>>> isinstance(missing_report, pd.DataFrame)
True
""",
                    "hidden": False,
                    "locked": False
                },
                {
                    "code": r"""
>>> # Teste 2: Tem colunas corretas
>>> 'Missing_Count' in missing_report.columns and 'Missing_Pct' in missing_report.columns
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q1.py

In [3]:
%%writefile tests/q2.py
OK_FORMAT = True

test = {
    "name": "q2",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Strings limpas
>>> bool(df['status'].str.contains(' ').sum() == 0)
True
""",
                    "hidden": False,
                    "locked": False
                },
                {
                    "code": r"""
>>> # Teste 2: Padronizado para minúsculo
>>> bool(df['status'].str.islower().all())
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q2.py

In [4]:
%%writefile tests/q3.py
OK_FORMAT = True

test = {
    "name": "q3",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Quantity é numérico
>>> import pandas as pd
>>> bool(pd.api.types.is_numeric_dtype(df['quantity']))
True
""",
                    "hidden": False,
                    "locked": False
                },
                {
                    "code": r"""
>>> # Teste 2: Sem valores negativos
>>> bool((df['quantity'].dropna() >= 0).all())
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q3.py

In [5]:
%%writefile tests/q4.py
OK_FORMAT = True

test = {
    "name": "q4",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Flag criada
>>> bool('price_was_missing' in df.columns)
True
""",
                    "hidden": False,
                    "locked": False
                },
                {
                    "code": r"""
>>> # Teste 2: Flag é inteira
>>> bool(df['price_was_missing'].dtype in ['int64', 'int32', 'uint8'])
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q4.py

In [6]:
%%writefile tests/q5.py
OK_FORMAT = True

test = {
    "name": "q5",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Sem missing em price
>>> bool(df_clean['price'].isnull().sum() == 0)
True
""",
                    "hidden": False,
                    "locked": False
                },
                {
                    "code": r"""
>>> # Teste 2: Menos missing que original
>>> bool(df_clean.isnull().sum().sum() < df_original.isnull().sum().sum())
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q5.py

In [7]:
import otter
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

grader = otter.Notebook()

print("✓ Otter Grader carregado")
print("✓ Pandas importado")
print(f"✓ Versão Pandas: {pd.__version__}")

✓ Otter Grader carregado
✓ Pandas importado
✓ Versão Pandas: 2.2.2

## Carregar Dados

Vamos trabalhar com um dataset de pedidos de e-commerce que contém diversos problemas de qualidade de dados.

In [8]:
# Carregar o dataset
# Se estiver no Colab, faça upload do arquivo primeiro
try:
    df = pd.read_csv('ecommerce_orders_dirty.csv')
    print("✓ Dataset carregado com sucesso!")
except FileNotFoundError:
    print("⚠ Arquivo não encontrado. Faça upload do 'ecommerce_orders_dirty.csv'")
    print("\nPara fazer upload no Colab:")
    print("from google.colab import files")
    print("uploaded = files.upload()")
    print("df = pd.read_csv('ecommerce_orders_dirty.csv')")

# Converter order_date para datetime
df['order_date'] = pd.to_datetime(df['order_date'])

# Criar cópia original
df_original = df.copy()

print(f"\nShape: {df.shape}")
print(f"\nPrimeiras linhas:")
display(df.head())

print(f"\nTipos de dados:")
print(df.dtypes)

✓ Dataset carregado com sucesso!

Shape: (820, 10)

Primeiras linhas:

,order_date,customer_id,product,category,quantity,price,payment_method,status,customer_email,region
0,2024-08-23,1583,Smartwatch,Electronics,4.0,NaN,Debit Card,Shipped,CUSTOMER1583@EMAIL.COM,east
1,2024-02-23,8674,Smartwatch,Audio,3.0,NaN,Bank Transfer,Cancelled,customer8674@email.com,Central
2,2024-10-06,5670,Laptop,Audio,1.0,NaN,Bank Transfer,Processing,customer5670@email.com,West
3,2024-04-04,1634,Camera,Computers,4.0,2580.97,Credit Card,Cancelled,CUSTOMER1634@EMAIL.COM,North
4,2024-09-02,3419,Headphones,NaN,5.0,1851.77,Credit Card,Delivered,customer3419@email.com,Central

Tipos de dados:
order_date        datetime64[ns]
customer_id                int64
product                   object
category                  object
quantity                  object
price                    float64
payment_method            object
status                    object
customer_email            object
region                    object
dtype: object

# Exercício 1: Criar Relatório de Missing Values (7 min)

## Descrição
Crie uma função que gera um relatório detalhado de valores faltantes no dataset.

O relatório deve incluir:
- Nome da coluna
- Quantidade de valores faltantes
- Percentual de valores faltantes
- Tipo de dado da coluna

O relatório deve:
- Incluir apenas colunas com missing > 0
- Estar ordenado por percentual decrescente

## Exemplo
```python
generate_missing_report(df)
#        Column  Missing_Count  Missing_Pct     Dtype
# 0       price            126        15.37   float64
# 1    quantity             81         9.88    object
# ...
```

## Dicas
- Use `df.isnull().sum()` para contar missing
- Calcule percentual: `(missing_count / len(df)) * 100`
- Crie DataFrame com `pd.DataFrame({...})`
- Filtre com: `report[report['Missing_Count'] > 0]`
- Ordene com: `report.sort_values('Missing_Pct', ascending=False)`

In [9]:
def generate_missing_report(df):
    """
    Gera relatório de valores faltantes.

    Parameters:
    -----------
    df : DataFrame
        Dataset a analisar

    Returns:
    --------
    DataFrame com colunas: Column, Missing_Count, Missing_Pct, Dtype
    """
    # === SEU CÓDIGO AQUI ===

    missing_count = df.isnull().sum()
    missing_pct = (missing_count / len(df)) * 100
    report = pd.DataFrame({
        'Column': df.columns,
        'Missing_Count': missing_count,
        'Missing_Pct': missing_pct,
        'Dtype': df.dtypes
    })
    report = report[report['Missing_Count'] > 0]
    report = report.sort_values('Missing_Pct', ascending=False).reset_index(drop=True)
    return report

    # === FIM DO SEU CÓDIGO ===

In [10]:
# Testar sua função
print("=== TESTE Q1 ===")
missing_report = generate_missing_report(df)
print("\nRelatório de Missing Values:")
display(missing_report)

print(f"\nTotal de colunas com missing: {len(missing_report)}")
print(f"Coluna com mais missing: {missing_report.iloc[0]['Column']} ({missing_report.iloc[0]['Missing_Pct']:.2f}%)")

grader.check("q1")

=== TESTE Q1 ===

Relatório de Missing Values:

           Column  Missing_Count  Missing_Pct    Dtype
0           price            126    15.365854  float64
1        quantity             91    11.097561   object
2        category             66     8.048780   object
3  payment_method             40     4.878049   object

Total de colunas com missing: 4
Coluna com mais missing: price (15.37%)

q1 results: All test cases passed!

# Exercício 2: Limpeza de Strings (7 min)

## Descrição
Limpe as colunas categóricas do dataset removendo espaços extras e padronizando a capitalização.

Para as colunas 'status', 'payment_method', 'region' e 'category':
1. Remova espaços no início e fim (`.str.strip()`)
2. Converta tudo para minúsculo (`.str.lower()`)

## Exemplo
```python
# Antes:
'DELIVERED', ' Delivered', 'delivered ', ' delivered '

# Depois:
'delivered', 'delivered', 'delivered', 'delivered'
```

## Dicas
- Use um loop for para processar cada coluna
- Aplique as transformações em ordem: strip() depois lower()
- Transformações de string: `df[col].str.strip().str.lower()`

In [11]:
# === SEU CÓDIGO AQUI ===

for col in ['status', 'payment_method', 'region', 'category']:
    df[col] = df[col].astype(str).str.strip().str.lower()

# === FIM DO SEU CÓDIGO ===

In [12]:
# Verificar resultado
print("=== TESTE Q2 ===")
print("\nValores únicos em 'status':")
print(df['status'].value_counts())

print("\nVerificando espaços extras...")
has_spaces = df['status'].str.contains(' ').sum()
print(f"Registros com espaços: {has_spaces}")

print("\nVerificando maiúsculas...")
all_lower = df['status'].str.islower().all()
print(f"Todos em minúsculo: {all_lower}")

grader.check("q2")

=== TESTE Q2 ===

Valores únicos em 'status':
status
shipped       195
pending       170
cancelled     164
delivered     160
processing    131
Name: count, dtype: int64

Verificando espaços extras...
Registros com espaços: 0

Verificando maiúsculas...
Todos em minúsculo: True

q2 results: All test cases passed!

# Exercício 3: Converter Tipos e Tratar Valores Inválidos (7 min)

## Descrição
A coluna 'quantity' está como tipo 'object' porque contém valores inválidos como 'Unknown', '???', 'N/A'.

Também há valores inválidos em 'price' (negativos ou muito altos) e 'customer_id' (negativos).

Tarefas:
1. Converter 'quantity' para numérico usando `pd.to_numeric()` com `errors='coerce'`
2. Marcar valores inválidos em 'price' como NaN:
   - Preços negativos (< 0)
   - Preços muito altos (> 50000)
3. Marcar 'customer_id' negativos como NaN

## Exemplo
```python
# Antes:
quantity: ['2', '3', 'Unknown', '1', '???']
price: [100, -50, 250, 1000000, 75]

# Depois:
quantity: [2.0, 3.0, NaN, 1.0, NaN]
price: [100, NaN, 250, NaN, 75]
```

## Dicas
- `pd.to_numeric(df['col'], errors='coerce')` converte e transforma inválidos em NaN
- Use `~df['col'].between(min, max)` para identificar valores fora do range
- Substitua por NaN: `df.loc[mask, 'col'] = np.nan`

In [13]:
# === SEU CÓDIGO AQUI ===

df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
df.loc[(df['price'] < 0) | (df['price'] > 50000), 'price'] = np.nan
df.loc[df['customer_id'] < 0, 'customer_id'] = np.nan

# === FIM DO SEU CÓDIGO ===

In [14]:
# Verificar resultado
print("=== TESTE Q3 ===")
print(f"\nTipo de 'quantity': {df['quantity'].dtype}")
print(f"É numérico: {pd.api.types.is_numeric_dtype(df['quantity'])}")

print(f"\nRange de 'price':")
print(f"  Mínimo: {df['price'].min():.2f}")
print(f"  Máximo: {df['price'].max():.2f}")
print(f"  Valores negativos: {(df['price'] < 0).sum()}")

print(f"\nRange de 'customer_id':")
print(f"  Mínimo: {df['customer_id'].min()}")
print(f"  Valores negativos: {(df['customer_id'] < 0).sum()}")

grader.check("q3")

=== TESTE Q3 ===

Tipo de 'quantity': float64
É numérico: True

Range de 'price':
  Mínimo: 53.97
  Máximo: 2992.99
  Valores negativos: 0

Range de 'customer_id':
  Mínimo: 1001.0
  Valores negativos: 0

q3 results: All test cases passed!

# Exercício 4: Criar Flags de Imputação (7 min)

## Descrição
Antes de imputar valores faltantes, é boa prática criar flags (colunas indicadoras) que registram quais valores estavam faltando.

Crie flags para as colunas:
- 'price'
- 'quantity'
- 'category'

Para cada coluna X, crie uma nova coluna chamada 'X_was_missing' que contém:
- 1 se o valor estava faltando
- 0 se o valor estava presente

## Exemplo
```python
# Se price = [100, NaN, 250, NaN, 75]
# Então price_was_missing = [0, 1, 0, 1, 0]
```

## Dicas
- Use `df[col].isnull()` para detectar NaN
- Use `.astype(int)` para converter True/False em 1/0
- Crie nova coluna: `df['nova_col'] = ...`

In [15]:
# === SEU CÓDIGO AQUI ===

for col in ['price', 'quantity', 'category']:
    df[f'{col}_was_missing'] = df[col].isnull().astype(int)

# === FIM DO SEU CÓDIGO ===

In [16]:
# Verificar resultado
print("=== TESTE Q4 ===")
print("\nFlags criadas:")
flag_cols = [col for col in df.columns if '_was_missing' in col]
for col in flag_cols:
    print(f"  {col}: {df[col].sum()} valores marcados")

print("\nExemplo de dados com flags:")
display(df[['price', 'price_was_missing', 'quantity', 'quantity_was_missing']].head(10))

grader.check("q4")

=== TESTE Q4 ===

Flags criadas:
  price_was_missing: 141 valores marcados
  quantity_was_missing: 112 valores marcados
  category_was_missing: 0 valores marcados

Exemplo de dados com flags:

     price  price_was_missing  quantity  quantity_was_missing
0      NaN                  1       4.0                     0
1      NaN                  1       3.0                     0
2      NaN                  1       1.0                     0
3  2580.97                  0       4.0                     0
4  1851.77                  0       5.0                     0
5  1810.49                  0       3.0                     0
6  2791.40                  0       4.0                     0
7   713.87                  0       2.0                     0
8  2248.28                  0       NaN                     1
9  1029.39                  0       3.0                     0

q4 results: All test cases passed!

# Exercício 5: Imputação e Pipeline Final (7 min)

## Descrição
Complete o pipeline de limpeza implementando as seguintes imputações:

1. **price**: Imputar com mediana por 'category' (depois mediana global para restantes)
2. **quantity**: Imputar com mediana global
3. **category**: Imputar com a moda (valor mais frequente)
4. **payment_method**: Imputar com a moda
5. **customer_id**: Imputar com valor especial (-1) para indicar "desconhecido"
6. Remover duplicatas

## Exemplo de Imputação por Grupo
```python
df['price'] = df.groupby('category')['price'].transform(
    lambda x: x.fillna(x.median())
)
```

## Dicas
- Use `groupby().transform()` para imputação por grupo
- Use `fillna()` para imputação simples
- Moda: `df[col].mode()[0]` (pegue o primeiro valor)
- Duplicatas: `df.drop_duplicates()`

In [17]:
# Criar função de pipeline completo
def clean_ecommerce_pipeline(df_raw):
    """
    Pipeline completo de limpeza.

    Parameters:
    -----------
    df_raw : DataFrame
        Dataset bruto

    Returns:
    --------
    DataFrame limpo
    """
    # === SEU CÓDIGO AQUI ===

    df = df_raw.copy()

    # Imputar preço pela mediana da categoria, depois mediana global
    df['price'] = df.groupby('category')['price'].transform(lambda x: x.fillna(x.median()))
    df['price'] = df['price'].fillna(df['price'].median())

    # Imputar quantity pela mediana global
    df['quantity'] = df['quantity'].fillna(df['quantity'].median())

    # Imputar category e payment_method pela moda
    df['category'] = df['category'].fillna(df['category'].mode()[0])
    df['payment_method'] = df['payment_method'].fillna(df['payment_method'].mode()[0])

    # Imputar customer_id com -1
    df['customer_id'] = df['customer_id'].fillna(-1)

    # Remover duplicatas
    df = df.drop_duplicates().reset_index(drop=True)
    return df

    # === FIM DO SEU CÓDIGO ===

In [18]:
# Executar pipeline
print("=== TESTE Q5 ===")
df_clean = clean_ecommerce_pipeline(df)

print("\n" + "=" * 60)
print("COMPARAÇÃO ANTES vs DEPOIS")
print("=" * 60)

print(f"\nMissing values:")
print(f"  Antes: {df_original.isnull().sum().sum()}")
print(f"  Depois: {df_clean.isnull().sum().sum()}")

print(f"\nRegistros:")
print(f"  Antes: {len(df_original):,}")
print(f"  Depois: {len(df_clean):,}")

print("\nMissing por coluna DEPOIS:")
print(df_clean.isnull().sum())

grader.check("q5")

=== TESTE Q5 ===

============================================================
COMPARAÇÃO ANTES vs DEPOIS
============================================================

Missing values:
  Antes: 323
  Depois: 0

Registros:
  Antes: 820
  Depois: 800

Missing por coluna DEPOIS:
order_date              0
customer_id             0
product                 0
category                0
quantity                0
price                   0
payment_method          0
status                  0
customer_email          0
region                  0
price_was_missing       0
quantity_was_missing    0
category_was_missing    0
dtype: int64

q5 results: All test cases passed!

## Validação Final e Análise

In [19]:
# Checklist final
print("=" * 60)
print("CHECKLIST FINAL")
print("=" * 60)

checks = [
    ("Sem missing em price", df_clean['price'].isnull().sum() == 0),
    ("Sem missing em quantity", df_clean['quantity'].isnull().sum() == 0),
    ("Sem missing em category", df_clean['category'].isnull().sum() == 0),
    ("quantity é numérico", pd.api.types.is_numeric_dtype(df_clean['quantity'])),
    ("Strings limpas", not df_clean['status'].str.contains(' ').any()),
    ("Flags criadas", 'price_was_missing' in df_clean.columns),
    ("Sem valores negativos em price", (df_clean['price'] >= 0).all()),
]

all_passed = True
for check_name, check_result in checks:
    status = "✓" if check_result else "✗"
    print(f"{status} {check_name}")
    if not check_result:
        all_passed = False

if all_passed:
    print("\n" + "=" * 60)
    print("DATASET LIMPO COM SUCESSO!")
    print("=" * 60)
else:
    print("\n" + "=" * 60)
    print("Algumas verificações falharam. Revise o processo.")
    print("=" * 60)

============================================================
CHECKLIST FINAL
============================================================
✓ Sem missing em price
✓ Sem missing em quantity
✓ Sem missing em category
✓ quantity é numérico
✓ Strings limpas
✓ Flags criadas
✓ Sem valores negativos em price

============================================================
DATASET LIMPO COM SUCESSO!
============================================================

In [20]:
# Análise rápida dos dados limpos
print("=" * 60)
print("ANÁLISE DOS DADOS LIMPOS")
print("=" * 60)

print("\n Estatísticas Descritivas:")
display(df_clean[['price', 'quantity']].describe())

print("\n Top 5 Produtos Mais Vendidos:")
display(df_clean['product'].value_counts().head())

print("\n Faturamento Total por Categoria:")
df_clean['revenue'] = df_clean['price'] * df_clean['quantity']
revenue_by_category = df_clean.groupby('category')['revenue'].sum().sort_values(ascending=False)
display(revenue_by_category)

print("\n Vendas por Região:")
display(df_clean['region'].value_counts())

print("\n Status dos Pedidos:")
display(df_clean['status'].value_counts())

============================================================
ANÁLISE DOS DADOS LIMPOS
============================================================

 Estatísticas Descritivas:

             price    quantity
count   800.000000  800.000000
mean   1515.609487    2.937500
std     778.876202    1.324117
min      53.970000    1.000000
25%     919.867500    2.000000
50%    1544.195000    3.000000
75%    2111.525000    4.000000
max    2992.990000    5.000000

 Top 5 Produtos Mais Vendidos:

product
Smartwatch    92
Tablet        89
Laptop        84
Mouse         81
Speaker       80
Name: count, dtype: int64

 Faturamento Total por Categoria:

category
electronics    830563.670
photography    718665.455
computers      647714.245
audio          602371.590
accessories    453446.310
nan            266711.340
Name: revenue, dtype: float64

 Vendas por Região:

region
south      188
east       160
central    158
north      149
west       145
Name: count, dtype: int64

 Status dos Pedidos:

status
shipped       192
pending       163
cancelled     159
delivered     158
processing    128
Name: count, dtype: int64

In [21]:
# Executar todos os testes
print("=" * 60)
print("EXECUTANDO TODOS OS TESTES")
print("=" * 60)
grader.check_all()

============================================================
EXECUTANDO TODOS OS TESTES
============================================================

q1 results: All test cases passed!

q2 results: All test cases passed!

q3 results: All test cases passed!

q4 results: All test cases passed!

q5 results: All test cases passed!

## Conclusão

Parabéns! Você completou o exercício de limpeza de dados.

### O que você praticou:
1. **Diagnóstico**: Criar relatórios de missing values
2. **Limpeza de Strings**: Remover espaços e padronizar capitalização
3. **Conversão de Tipos**: Usar pd.to_numeric() e tratar valores inválidos
4. **Flags de Imputação**: Preservar informação sobre valores faltantes
5. **Imputação**: Aplicar estratégias apropriadas por grupo e globalmente
6. **Pipeline Completo**: Organizar todo o processo de forma reproduzível

### Conceitos-chave:
- ✓ Dados sujos são a norma, não a exceção
- ✓ Sempre preserve os dados originais
- ✓ Documente suas decisões
- ✓ Crie flags antes de imputar
- ✓ Valide os resultados sistematicamente

Continue praticando com diferentes datasets!