# Aula 06 - Pandas Intermedi√°rio: GroupBy, Merge e Transforma√ß√µes
**Curso:** Programa√ß√£o para Ci√™ncia de Dados  
**Aluno:** Gisele Fonseca de Aguiar Silva  
**Data:** 23 de outubro

## Instru√ß√µes
1. Complete todos os exerc√≠cios marcados com `# === SEU C√ìDIGO AQUI ===`
2. Execute as c√©lulas de teste para verificar suas respostas
3. **Tempo estimado total:** 30 minutos

## Crit√©rios de Avalia√ß√£o
- **Conte√∫do (100%):** Testes autom√°ticos

## Objetivo
Consolidar conhecimentos de groupby, merge, pivot e transforma√ß√µes.

In [5]:
# === CONFIGURA√á√ÉO INICIAL ===

!pip install --upgrade pip --quiet
!pip cache purge
!pip install otter-grader --no-cache-dir -q
!mkdir -p tests

print("Ambiente configurado!")

   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.8/1.8 MB 24.1 MB/s eta 0:00:00
Files removed: 72 (52.7 MB)
Ambiente configurado!

In [6]:
%%writefile tests/q1.py
OK_FORMAT = True

test = {
    "name": "q1",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Retorna DataFrame
>>> import pandas as pd
>>> df = pd.DataFrame({'produto': ['A', 'B'], 'quantidade': [10, 20], 'preco': [5, 10]})
>>> resultado = analisar_vendas_por_produto(df)
>>> isinstance(resultado, pd.DataFrame)
True
""",
                    "hidden": False,
                    "locked": False
                },
                {
                    "code": r"""
>>> # Teste 2: Colunas corretas
>>> import pandas as pd
>>> df = pd.DataFrame({'produto': ['A', 'B'], 'quantidade': [10, 20], 'preco': [5, 10]})
>>> resultado = analisar_vendas_por_produto(df)
>>> 'total_vendido' in resultado.columns and 'ticket_medio' in resultado.columns
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q1.py

In [7]:
%%writefile tests/q2.py
OK_FORMAT = True

test = {
    "name": "q2",
    "points": 3,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Merge correto
>>> import pandas as pd
>>> df1 = pd.DataFrame({'id': [1, 2], 'nome': ['A', 'B']})
>>> df2 = pd.DataFrame({'id': [1, 3], 'valor': [10, 30]})
>>> resultado = combinar_dataframes_left(df1, df2)
>>> len(resultado) == 2
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q2.py

In [8]:
%%writefile tests/q3.py
OK_FORMAT = True

test = {
    "name": "q3",
    "points": 2,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Pivot correto
>>> import pandas as pd
>>> df = pd.DataFrame({'categoria': ['A', 'B'], 'mes': ['Jan', 'Jan'], 'valor': [10, 20]})
>>> resultado = criar_tabela_cruzada(df)
>>> isinstance(resultado, pd.DataFrame)
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q3.py

In [9]:
%%writefile tests/q4.py
OK_FORMAT = True

test = {
    "name": "q4",
    "points": 2,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
>>> # Teste 1: Transforma√ß√£o aplicada
>>> import pandas as pd
>>> df = pd.DataFrame({'categoria': ['A', 'A', 'B'], 'valor': [10, 20, 30]})
>>> resultado = normalizar_por_grupo(df)
>>> 'valor_normalizado' in resultado.columns
True
""",
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": "doctest"
        }
    ]
}

Writing tests/q4.py

In [10]:

import otter
import pandas as pd
import numpy as np

grader = otter.Notebook()

print("‚úì Otter Grader carregado")
print("‚úì Pandas importado")
print(f"‚úì Vers√£o Pandas: {pd.__version__}")

‚úì Otter Grader carregado
‚úì Pandas importado
‚úì Vers√£o Pandas: 2.2.2

# Exerc√≠cio 1: An√°lise Completa com GroupBy

## Descri√ß√£o
Dado um DataFrame com vendas contendo:
- produto: nome do produto
- quantidade: unidades vendidas
- preco: pre√ßo unit√°rio

Agrupe por produto e calcule:
1. total_vendido: quantidade total vendida
2. receita_total: soma de (quantidade √ó pre√ßo)
3. ticket_medio: receita_total / total_vendido

## Exemplo
```python
df = pd.DataFrame({
    'produto': ['Mouse', 'Mouse', 'Teclado'],
    'quantidade': [10, 5, 8],
    'preco': [50, 50, 120]
})

analisar_vendas_por_produto(df)
#          total_vendido  receita_total  ticket_medio
# produto                                             
# Mouse              15            750          50.0
# Teclado             8            960         120.0
```

## Dicas
- Primeiro calcule uma coluna 'receita' = quantidade √ó preco
- Use groupby().agg() com dicion√°rio para m√∫ltiplas agrega√ß√µes
- Ticket m√©dio = receita total / quantidade total

**Tempo estimado:** 10 minutos

In [11]:
def analisar_vendas_por_produto(df):
    """
    Analisa vendas agrupadas por produto.

    Args:
        df (pd.DataFrame): DataFrame com 'produto', 'quantidade', 'preco'

    Returns:
        pd.DataFrame: An√°lise por produto
    """
    # === SEU C√ìDIGO AQUI ===

    df['receita'] = df['quantidade'] * df['preco']
    resultado = df.groupby('produto').agg(
        total_vendido=('quantidade', 'sum'),
        receita_total=('receita', 'sum')
    )
    resultado['ticket_medio'] = resultado['receita_total'] / resultado['total_vendido']
    return resultado

    # === FIM DO SEU C√ìDIGO ===

In [12]:
# Criar DataFrame de vendas
df_vendas = pd.DataFrame({
    'produto': ['Mouse', 'Teclado', 'Monitor', 'Mouse', 'Teclado', 'Mouse', 'Monitor'],
    'quantidade': [10, 5, 2, 15, 8, 5, 3],
    'preco': [45.00, 120.00, 890.00, 50.00, 115.00, 45.00, 900.00]
})

print("=== TESTE Q1 ===")
print("\n=== DADOS ORIGINAIS ===")
print(df_vendas)

# Analisar vendas
analise = analisar_vendas_por_produto(df_vendas)

print("\n=== AN√ÅLISE POR PRODUTO ===")
print(analise)

print("\n=== INSIGHTS ===")
print(f"Produto mais vendido: {analise['total_vendido'].idxmax()}")
print(f"Quantidade: {analise['total_vendido'].max():.0f} unidades")

print(f"\nProduto com maior receita: {analise['receita_total'].idxmax()}")
print(f"Receita: R$ {analise['receita_total'].max():,.2f}")

print(f"\nProduto com maior ticket m√©dio: {analise['ticket_medio'].idxmax()}")
print(f"Ticket: R$ {analise['ticket_medio'].max():,.2f}")

grader.check("q1")

=== TESTE Q1 ===

=== DADOS ORIGINAIS ===
   produto  quantidade  preco
0    Mouse          10   45.0
1  Teclado           5  120.0
2  Monitor           2  890.0
3    Mouse          15   50.0
4  Teclado           8  115.0
5    Mouse           5   45.0
6  Monitor           3  900.0

=== AN√ÅLISE POR PRODUTO ===
         total_vendido  receita_total  ticket_medio
produto
Monitor              5         4480.0    896.000000
Mouse               30         1425.0     47.500000
Teclado             13         1520.0    116.923077

=== INSIGHTS ===
Produto mais vendido: Mouse
Quantidade: 30 unidades

Produto com maior receita: Monitor
Receita: R$ 4,480.00

Produto com maior ticket m√©dio: Monitor
Ticket: R$ 896.00

q1 results: All test cases passed!

# Exerc√≠cio 2: Merge com Left Join

## Descri√ß√£o
Voc√™ tem dois DataFrames:
- df_clientes: id, nome, cidade
- df_compras: id, total_compras, ultima_compra

Nem todos os clientes fizeram compras.

Fa√ßa um LEFT JOIN para manter TODOS os clientes,
preenchendo com 0 os clientes sem compras.

## Exemplo
```python
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'nome': ['Ana', 'Bruno', 'Carlos']
})
df2 = pd.DataFrame({
    'id': [1, 3],
    'total_compras': [500, 300]
})

combinar_dataframes_left(df1, df2)
#    id    nome  total_compras
# 0   1     Ana          500.0
# 1   2   Bruno            0.0
# 2   3  Carlos          300.0
```

## Dicas
- Use pd.merge() com how='left'
- Use fillna(0) para preencher valores faltantes

**Tempo estimado:** 8 minutos

In [13]:
def combinar_dataframes_left(df_clientes, df_compras):
    """
    Faz left join e preenche valores faltantes com 0.

    Args:
        df_clientes (pd.DataFrame): DataFrame de clientes
        df_compras (pd.DataFrame): DataFrame de compras

    Returns:
        pd.DataFrame: DataFrames combinados
    """
    # === SEU C√ìDIGO AQUI ===

    df_merged = pd.merge(df_clientes, df_compras, on='id', how='left')
    df_merged = df_merged.fillna(0)
    return df_merged


    # === FIM DO SEU C√ìDIGO ===

In [14]:
# Criar DataFrames de exemplo
df_clientes = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'nome': ['Ana Silva', 'Bruno Costa', 'Carlos Souza', 'Diana Lima', 'Eduardo Santos'],
    'cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'S√£o Paulo', 'Curitiba']
})

df_compras = pd.DataFrame({
    'id': [1, 3, 5],
    'total_compras': [1500.00, 890.00, 2300.00],
    'numero_pedidos': [5, 3, 8]
})

print("=== TESTE Q2 ===")
print("\n=== CLIENTES ===")
print(df_clientes)

print("\n=== COMPRAS ===")
print(df_compras)

# Combinar com left join
df_completo = combinar_dataframes_left(df_clientes, df_compras)

print("\n=== DADOS COMBINADOS (LEFT JOIN) ===")
print(df_completo)

print("\n=== AN√ÅLISE ===")
print(f"Total de clientes: {len(df_completo)}")
print(f"Clientes com compras: {(df_completo['total_compras'] > 0).sum()}")
print(f"Clientes sem compras: {(df_completo['total_compras'] == 0).sum()}")

print("\n=== CLIENTES SEM COMPRAS ===")
sem_compras = df_completo[df_completo['total_compras'] == 0][['nome', 'cidade']]
print(sem_compras)

grader.check("q2")

=== TESTE Q2 ===

=== CLIENTES ===
   id            nome          cidade
0   1       Ana Silva       S√£o Paulo
1   2     Bruno Costa  Rio de Janeiro
2   3    Carlos Souza  Belo Horizonte
3   4      Diana Lima       S√£o Paulo
4   5  Eduardo Santos        Curitiba

=== COMPRAS ===
   id  total_compras  numero_pedidos
0   1         1500.0               5
1   3          890.0               3
2   5         2300.0               8

=== DADOS COMBINADOS (LEFT JOIN) ===
   id            nome          cidade  total_compras  numero_pedidos
0   1       Ana Silva       S√£o Paulo         1500.0             5.0
1   2     Bruno Costa  Rio de Janeiro            0.0             0.0
2   3    Carlos Souza  Belo Horizonte          890.0             3.0
3   4      Diana Lima       S√£o Paulo            0.0             0.0
4   5  Eduardo Santos        Curitiba         2300.0             8.0

=== AN√ÅLISE ===
Total de clientes: 5
Clientes com compras: 3
Clientes sem compras: 2

=== CLIENTES SEM COMPRAS ===
          nome          cidade
1  Bruno Costa  Rio de Janeiro
3   Diana Lima       S√£o Paulo

q2 results: All test cases passed!

# Exerc√≠cio 3: Pivot Table Avan√ßada

## Descri√ß√£o
Dado DataFrame com vendas mensais:
- categoria: categoria do produto
- mes: m√™s da venda
- valor: valor da venda

Crie uma pivot table com:
- Categorias nas linhas
- Meses nas colunas
- Soma dos valores nas c√©lulas
- Total por linha e coluna (margins=True)

## Exemplo
```python
df = pd.DataFrame({
    'categoria': ['Eletr√¥nicos', 'Livros', 'Eletr√¥nicos'],
    'mes': ['Jan', 'Jan', 'Fev'],
    'valor': [1000, 200, 1500]
})

criar_tabela_cruzada(df)
#                 Fev    Jan     All
# Eletr√¥nicos  1500.0 1000.0  2500.0
# Livros          NaN  200.0   200.0
# All          1500.0 1200.0  2700.0
```

## Dicas
- Use pivot_table() com margins=True
- aggfunc='sum' para somar valores

**Tempo estimado:** 7 minutos

In [15]:
def criar_tabela_cruzada(df):
    """
    Cria pivot table com totais.

    Args:
        df (pd.DataFrame): DataFrame com 'categoria', 'mes', 'valor'

    Returns:
        pd.DataFrame: Pivot table com margins
    """
    # === SEU C√ìDIGO AQUI ===

    tabela = pd.pivot_table(
        df,
        values='valor',
        index='categoria',
        columns='mes',
        aggfunc='sum',
        margins=True,
        margins_name='Total'
    )
    return tabela

    # === FIM DO SEU C√ìDIGO ===

In [16]:
# Criar DataFrame de vendas mensais
df_vendas_mes = pd.DataFrame({
    'categoria': ['Eletr√¥nicos', 'Livros', 'Roupas', 'Eletr√¥nicos', 'Livros',
                  'Roupas', 'Eletr√¥nicos', 'Livros', 'Roupas'],
    'mes': ['Jan', 'Jan', 'Jan', 'Fev', 'Fev', 'Fev', 'Mar', 'Mar', 'Mar'],
    'valor': [15000, 3500, 4200, 18000, 4100, 3800, 16500, 3900, 4500]
})

print("=== TESTE Q3 ===")
print("\n=== DADOS ORIGINAIS ===")
print(df_vendas_mes)

# Criar pivot table
pivot = criar_tabela_cruzada(df_vendas_mes)

print("\n=== TABELA CRUZADA (Categoria √ó M√™s) ===")
print(pivot)

print("\n=== INSIGHTS ===")
# Remover linha/coluna de total para an√°lise
pivot_sem_total = pivot.drop('Total').drop('Total', axis=1)

print(f"Categoria com maior venda total: {pivot.loc[pivot_sem_total.sum(axis=1).idxmax()].name}")
print(f"M√™s com maior venda total: {pivot_sem_total.sum(axis=0).idxmax()}")

# Encontrar c√©lula com maior valor
max_val = pivot_sem_total.max().max()
max_pos = pivot_sem_total.stack().idxmax()
print(f"\nMaior venda individual: {max_pos[0]} em {max_pos[1]} = R$ {max_val:,.2f}")

grader.check("q3")

=== TESTE Q3 ===

=== DADOS ORIGINAIS ===
     categoria  mes  valor
0  Eletr√¥nicos  Jan  15000
1       Livros  Jan   3500
2       Roupas  Jan   4200
3  Eletr√¥nicos  Fev  18000
4       Livros  Fev   4100
5       Roupas  Fev   3800
6  Eletr√¥nicos  Mar  16500
7       Livros  Mar   3900
8       Roupas  Mar   4500

=== TABELA CRUZADA (Categoria √ó M√™s) ===
mes            Fev    Jan    Mar  Total
categoria
Eletr√¥nicos  18000  15000  16500  49500
Livros        4100   3500   3900  11500
Roupas        3800   4200   4500  12500
Total        25900  22700  24900  73500

=== INSIGHTS ===
Categoria com maior venda total: Eletr√¥nicos
M√™s com maior venda total: Fev

Maior venda individual: Eletr√¥nicos em Fev = R$ 18,000.00

q3 results: All test cases passed!

# Exerc√≠cio 4: Normaliza√ß√£o por Grupo

## Descri√ß√£o
Dado DataFrame com 'categoria' e 'valor',
normalize os valores DENTRO de cada categoria.

Normaliza√ß√£o: (valor - m√©dia_categoria) / desvio_categoria

Isso permite comparar valores de categorias diferentes.

## Exemplo
```python
df = pd.DataFrame({
    'categoria': ['A', 'A', 'B', 'B'],
    'valor': [10, 20, 100, 200]
})

normalizar_por_grupo(df)
#   categoria  valor  valor_normalizado
# 0         A     10              -1.0
# 1         A     20               1.0
# 2         B    100              -1.0
# 3         B    200               1.0
```

## Dicas
- Use groupby().transform() para aplicar fun√ß√£o mantendo shape
- Normaliza√ß√£o Z-score: (x - mean) / std

**Tempo estimado:** 5 minutos

In [17]:
def normalizar_por_grupo(df):
    """
    Normaliza valores dentro de cada categoria.

    Args:
        df (pd.DataFrame): DataFrame com 'categoria' e 'valor'

    Returns:
        pd.DataFrame: DataFrame com coluna normalizada
    """
    # === SEU C√ìDIGO AQUI ===

    df['valor_normalizado'] = df.groupby('categoria')['valor'].transform(
        lambda x: (x - x.mean()) / x.std()
    )
    return df

    # === FIM DO SEU C√ìDIGO ===

In [18]:
# Criar DataFrame de exemplo
df_produtos = pd.DataFrame({
    'categoria': ['Eletr√¥nicos', 'Eletr√¥nicos', 'Eletr√¥nicos', 'Livros', 'Livros', 'Livros'],
    'produto': ['Mouse', 'Teclado', 'Monitor', 'Python B√°sico', 'Java Avan√ßado', 'SQL Pr√°tico'],
    'valor': [45.00, 120.00, 890.00, 65.00, 95.00, 78.00]
})

print("=== TESTE Q4 ===")
print("\n=== DADOS ORIGINAIS ===")
print(df_produtos)

# Normalizar por grupo
df_normalizado = normalizar_por_grupo(df_produtos)

print("\n=== DADOS NORMALIZADOS ===")
print(df_normalizado)

print("\n=== VERIFICA√á√ÉO ===")
# Verificar que m√©dia √© ~0 e std √© ~1 dentro de cada categoria
for categoria in df_normalizado['categoria'].unique():
    subset = df_normalizado[df_normalizado['categoria'] == categoria]['valor_normalizado']
    print(f"\n{categoria}:")
    print(f"  M√©dia normalizada: {subset.mean():.6f} (deve ser ~0)")
    print(f"  Desvio normalizado: {subset.std():.6f} (deve ser ~1)")

print("\n=== INTERPRETA√á√ÉO ===")
print("Valores positivos est√£o acima da m√©dia da categoria")
print("Valores negativos est√£o abaixo da m√©dia da categoria")
print("\nProdutos mais caros que a m√©dia de sua categoria:")
acima_media = df_normalizado[df_normalizado['valor_normalizado'] > 0][['produto', 'categoria', 'valor']]
print(acima_media)

grader.check("q4")

=== TESTE Q4 ===

=== DADOS ORIGINAIS ===
     categoria        produto  valor
0  Eletr√¥nicos          Mouse   45.0
1  Eletr√¥nicos        Teclado  120.0
2  Eletr√¥nicos        Monitor  890.0
3       Livros  Python B√°sico   65.0
4       Livros  Java Avan√ßado   95.0
5       Livros    SQL Pr√°tico   78.0

=== DADOS NORMALIZADOS ===
     categoria        produto  valor  valor_normalizado
0  Eletr√¥nicos          Mouse   45.0          -0.655668
1  Eletr√¥nicos        Teclado  120.0          -0.495315
2  Eletr√¥nicos        Monitor  890.0           1.150983
3       Livros  Python B√°sico   65.0          -0.952737
4       Livros  Java Avan√ßado   95.0           1.041363
5       Livros    SQL Pr√°tico   78.0          -0.088627

=== VERIFICA√á√ÉO ===

Eletr√¥nicos:
  M√©dia normalizada: -0.000000 (deve ser ~0)
  Desvio normalizado: 1.000000 (deve ser ~1)

Livros:
  M√©dia normalizada: 0.000000 (deve ser ~0)
  Desvio normalizado: 1.000000 (deve ser ~1)

=== INTERPRETA√á√ÉO ===
Valores positivos est√£o acima da m√©dia da categoria
Valores negativos est√£o abaixo da m√©dia da categoria

Produtos mais caros que a m√©dia de sua categoria:
         produto    categoria  valor
2        Monitor  Eletr√¥nicos  890.0
4  Java Avan√ßado       Livros   95.0

q4 results: All test cases passed!

# Resumo

Nesta pr√°tica voc√™ trabalhou com:
- GroupBy com m√∫ltiplas agrega√ß√µes e c√°lculos
- Merge com diferentes tipos de joins
- Pivot tables com totais (margins)
- Transform para normaliza√ß√£o por grupo

**Pontua√ß√£o total:** 10 pontos

Continue praticando!